[cas]
class=CasCheck
cas_url=https://example.com/cas/login

[cas_login]
class=CasLogin
username=
password=
cas_url=https://example.com/cas/login
cas_success_txt=Log In Successful

[foo_connector]
class=CasConnectorLogin
username=
password=
cas_url=https://example.com/cas/login
cas_success_txt=Log In Successful
service_url=http://foo.example.com
target_url=https://fooA.com/scgi/x/Isl.exe

[d2l_connector]
class=CasConnectorLogin
username=
password=
cas_url=https://example.com/cas/login
cas_success_txt=Log In Successful
service_url=http://bar.example.com
target_url=https://barA.example.com/homepage/home.asp?foo=True
