[cas]
class=CasCheck
cas_url=https://example.com/cas/login

[cas_login]
class=CasLogin
username=
password=
cas_url=https://example.com/cas/login
cookies=CASPRIVACY,CASTGC,JSESSIONID

[foo_connector]
class=CasConnectorLogin
username=
password=
cas_url=https://example.com/cas/login
service_url=http://foo.example.com
cookies=

[d2l_connector]
class=CasConnectorLogin
username=
password=
cas_url=https://example.com/cas/login
service_url=http://bar.example.com
cookies=
